<input class="btn btn-primary" name="commit" id="update_index" type="submit" value="modifier page index" onclick="display_update('index')">
<input class="btn btn-primary" name="commit" id="update_specialite" type="submit" value="modifier page specialite" onclick="display_update('specialite')">
<input class="btn btn-primary" name="commit" id="update_honoraire" type="submit" value="modifier page honoraire" onclick="display_update('honoraire')">
<input class="btn btn-primary" name="commit" id="update_contact" type="submit" value="modifier page contact" onclick="display_update('contact')">

<div id="contact" class="admin_class" style="display:none">
	#contact

	<%= bootstrap_form_tag url: user_contact_update_path, method: "put" do |f| %>
		<% if locale == :fr %>
			<%= f.text_field :contenu, :value =>  @contact.contenu, required: true %>
		<% elsif locale == :en %>
			#en anglais
			<%= f.text_field :contenuen, :value =>  @contact.contenuen, required: true %>
		<% end %>
		<%= f.submit "update", class: "btn btn-success" %>
	<% end %>
</div>


<div id="honoraire" class="admin_class" style="display:none">
	#honoraire
	<%= bootstrap_form_tag url: user_honoraire_update_path, method: "put" do |f| %>
		<% if locale == :fr %>
			<%= f.text_field :contenu, :value =>  @honoraire.contenu,required: true %>
		<% elsif locale == :en %>
			#en anglais
			<%= f.text_field :contenuen, :value =>  @honoraire.contenuen,required: true %>
		<% end %>
		<%= f.submit "update", class: "btn btn-success" %>
	<% end %>
</div>

<div id="specialite" class="admin_class" style="display:none">
	#specialite
	<%= bootstrap_form_tag url: user_specialite_update_path, method: "put" do |f| %>
		<% if locale == :fr %>
			<%= f.text_field :contenu, :value =>  @specialite.contenu,required: true %>
		<% elsif locale == :en %>
			#en anglais
			<%= f.text_field :contenuen, :value =>  @specialite.contenuen,required: true %>
		<% end %>
		<%= f.submit "update", class: "btn btn-success" %>
	<% end %>
</div>

<div id="index" class="admin_class" style="display:block">
	#index
	<%= bootstrap_form_tag url: user_index_update_path, method: "put" do |f| %>
		<% if locale == :fr %>
			Profil
			<div class="separator"></div>
			<%= f.text_field :firstname, :value =>  @index.firstname,required: true %>
			<%= f.text_field :name, :value =>  @index.name,required: true %>
			<%= f.text_field :street, :value =>  @index.street,required: true %>
			<%= f.text_field :cp, :value =>  @index.cp,required: true %>
			<%= f.text_field :city, :value =>  @index.city,required: true %>
			<%= f.text_field :phone, :value =>  @index.phone,required: true %>
			<%= f.text_field :fax, :value =>  @index.fax,required: true %>
			<%= f.text_field :mobile, :value =>  @index.mobile,required: true %>
			Contenu de la page
			<div class="separator"></div>
			<%= f.text_field :titre1, :value =>  @index.titre1,required: true %>
			<%= f.text_field :contenu1, :value =>  @index.contenu1,required: true %>
			<%= f.text_field :titre2, :value =>  @index.titre2,required: true %>
			<%= f.text_field :contenu2, :value =>  @index.contenu2,required: true %>
			<%= f.text_field :titre3, :value =>  @index.titre3,required: true %>
			<%= f.text_field :contenu3, :value =>  @index.contenu3,required: true %>
			<%= f.text_field :titre4, :value =>  @index.titre4,required: true %>
			<%= f.text_field :contenu4, :value =>  @index.contenu4,required: true %>
			<%= f.text_field :titre5, :value =>  @index.titre5,required: true %>
			<%= f.text_field :contenu5, :value =>  @index.contenu5,required: true %>
		<% elsif locale == :en %>
			#en anglais
			Profil
			<div class="separator"></div>
			<%= f.text_field :firstnameen, :value =>  @index.firstnameen,required: true %>
			<%= f.text_field :nameen, :value =>  @index.nameen,required: true %>
			<%= f.text_field :streeten, :value =>  @index.streeten,required: true %>
			<%= f.text_field :cpen, :value =>  @index.cpen,required: true %>
			<%= f.text_field :cityen, :value =>  @index.cityen,required: true %>
			<%= f.text_field :phoneen, :value =>  @index.phoneen,required: true %>
			<%= f.text_field :faxen, :value =>  @index.faxen,required: true %>
			<%= f.text_field :mobileen, :value =>  @index.mobileen,required: true %>
			Page Content
			<div class="separator"></div>
			<%= f.text_field :titre1en, :value =>  @index.titre1en,required: true %>
			<%= f.text_field :contenu1en, :value =>  @index.contenu1en,required: true %>
			<%= f.text_field :titre2en, :value =>  @index.titre2en,required: true %>
			<%= f.text_field :contenu2en, :value =>  @index.contenu2en,required: true %>
			<%= f.text_field :titre3en, :value =>  @index.titre3en,required: true %>
			<%= f.text_field :contenu3en, :value =>  @index.contenu3en,required: true %>
			<%= f.text_field :titre4en, :value =>  @index.titre4en,required: true %>
			<%= f.text_field :contenu4en, :value =>  @index.contenu4en,required: true %>
			<%= f.text_field :titre5en, :value =>  @index.titre5en,required: true %>
			<%= f.text_field :contenu5en, :value =>  @index.contenu5en,required: true %>
		<% end %>
		<%= f.submit "update", class: "btn btn-success" %>
	<% end %>
</div>

