<%= bootstrap_form_tag url: user_veille_create_path do |f| %>
	<%= f.text_field :titre, :value =>  "",required: true %>
	<%= f.text_area :texte, :value =>  "",size: "60x12",required: true %>
<%= f.submit "Creates", class: "btn btn-success" %>

<% end %>

</br>
<%= will_paginate @veilles %>
</br></br>

		<% @veilles.each do |v|%>
		<div class="vtitle"><%= v.titre.bbcode_to_html_with_formatting.html_safe %><br/></div>
	<div class="veille"><%= v.texte.bbcode_to_html_with_formatting.html_safe %><br/></div>
	


			<div id="no_update_post<%= v.id %>" onclick="display_update_post(<%= v.id %>)" class="glyphicon glyphicon-pencil">
			</div>
			<div id="update_post<%= v.id %>" style="display: none;">
				<%= bootstrap_form_tag url: user_veille_update_path, method: "put" do |f| %>
					<%= f.hidden_field :id, :value => v.id.to_s,required: true %>
					<%= f.text_field :titre, :value =>  v.titre,required: true %>
					<%= f.text_area :texte, :value =>  v.texte,size: "60x12",required: true %>
					<%= f.submit "update", class: "btn btn-success" %>
				<% end %>
				<%= bootstrap_form_tag url: user_veille_delete_path, method: "delete" do |f| %>
					<%= f.hidden_field :id, :value => v.id.to_s,required: true %>
					<%= f.submit "delete", class: "btn btn-danger" %>
				<% end %>
			</div>

			<div class="separator-article"></div>
	</br></br></br>

		<% end %>
		
<%= will_paginate @veilles %>