<div class="visible-xs fix-mobile"></div>	
<div class="col-sm-8 bloc-g col-sm-offset-2">
<% if locale == :en %>
	<section>
		<article>
	<%= @contact.texte1en.bbcode_to_html_with_formatting.html_safe %>
		</article>
	</section>
					<%= bootstrap_form_tag url: fr_path, method: "post" do |f| %>
						<%= f.text_field :name, :placeholder => "name and firstname",required: true %>
						<%= f.text_field :subject, :placeholder => "subject",required: true %>
						<%= f.text_area :message, :placeholder => "post your message here",size: "60x12",required: true %>
						<%= f.submit "send", class: "btn btn-success" %>
					<% end %>
<% else %>
	<section>
		<article>
	<%= @contact.texte1.bbcode_to_html_with_formatting.html_safe %>
		</article>
	</section>

					<%= bootstrap_form_tag url: en_path, method: "post" do |f| %>
						<%= f.text_field :nom, :placeholder => "nom et prenom",required: true %>
						<%= f.text_field :sujet, :placeholder => "sujet",required: true %>
						<%= f.text_area :message, :placeholder => "entrez votre message ici",size: "60x12",required: true %>
						<%= f.submit "envoyer", class: "btn btn-success" %>
					<% end %>
<% end %>
</div>