<div class="visible-xs fix-mobile"></div>	
<div class="col-sm-10 bloc-g col-md-8">
<% if locale == :en %>
	<section>
		<article>
	<%= @contact.contenuen.bbcode_to_html_with_formatting.html_safe %>
		</article>
	</section>
					<%= bootstrap_form_tag url: fr_path, method: "post" do |f| %>
						<%= f.text_field :name, :placeholder => "name",required: true %>
						<%= f.text_field :mail, :placeholder => "mail",required: true %>
						<%= f.text_field :subject, :placeholder => "subject",required: true %>
						<%= f.text_area :message, :placeholder => "post your message here",size: "60x12",required: true %>
						<%= f.submit "send", class: "btn btn-success" %>
					<% end %>
<% else %>
	<section>
		<article>
	<%= @contact.contenu.bbcode_to_html_with_formatting.html_safe %>
		</article>
	</section>

					<%= bootstrap_form_tag url: en_path, method: "post" do |f| %>
						<%= f.text_field :nom, :placeholder => "nom",required: true %>
						<%= f.text_field :mail, :placeholder => "email",required: true %>
						<%= f.text_field :sujet, :placeholder => "sujet",required: true %>
						<%= f.text_area :message, :placeholder => "entrez votre message ici",size: "60x12",required: true %>
						<%= f.submit "envoyer", class: "btn btn-success" %>
					<% end %>
<% end %>
</div>
<aside class="col-sm-12 profil col-md-12">
	<a class="twitter-follow-button"
  href="https://twitter.com/ElHalfiAvocats"
  data-show-count="false"
  data-lang="en">
Follow me on twitter
</a>
</aside>

<script type="text/javascript">
window.twttr = (function (d, s, id) {
  var t, js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src= "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
}(document, "script", "twitter-wjs"));
</script>