<div class="visible-xs fix-mobile"></div>	
	<aside class="col-sm-2 profil">
		<img src="<%= asset_path( 'anonyme.jpg' ) %>" class="img-responsive img-rounded" alt="Laila El Halfi" />
			<div class="profil-separator"></div>

		<% if locale == :en %>
			<div class="name">
			<%= @index.texte1en.bbcode_to_html_with_formatting.html_safe %>
			<!-- 					<%= @index.texte2en.bbcode_to_html_with_formatting.html_safe %> -->
			</div>
			<!-- 				<div class="name">
			<%= @index.texte2en.bbcode_to_html_with_formatting.html_safe %>
			</div> -->
			<div class="email">
			<a href="https://www.google.com/maps/place/<%= @map %>"  target="_blank"><%= @index.texte3en.bbcode_to_html_with_formatting.html_safe %></a> 
			</div>
			<div class="adresse">
			<%= @index.texte4en.bbcode_to_html_with_formatting.html_safe %>
			</div>
			<div class="postal">
			<%= @index.texte5en.bbcode_to_html_with_formatting.html_safe %>
			</div>
			<% else %>
			<div class="name">
			<%= @index.texte1.bbcode_to_html_with_formatting.html_safe %>
			</div>
<!-- 			<div class="name">
			<%= @index.texte2.bbcode_to_html_with_formatting.html_safe %>
			</div> -->
			<div class="email">
			<a href="https://www.google.com/maps/place/<%= @map %>"  target="_blank"><%= @index.texte3.bbcode_to_html_with_formatting.html_safe %></a>
			<iframe
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBegs8cCY3HjnUkA7KKxRGKrJkK_YCPYsk&q=<%= @map %>">
</iframe> 
			</div>
			<div class="adresse">
			<%= @index.texte4.bbcode_to_html_with_formatting.html_safe %>
			</div>
			<div class="postal">
			<%= @index.texte5.bbcode_to_html_with_formatting.html_safe %>
			</div>
		<% end %>
			<div class="profil-separator-bottom"></div>
	</aside>
<div class="col-sm-10 bloc-g">
	<section class="col-sm-8 index">

	<% if locale == :en %>
		<h3>
		<%= @index.texte6en.bbcode_to_html_with_formatting.html_safe %>
		</h3>
		<article>
		<%= @index.texte7en.bbcode_to_html_with_formatting.html_safe %>
		</article>
		<div class="separator-index"></div>
		<h3>
		<%= @index.texte8en.bbcode_to_html_with_formatting.html_safe %>
		</h3>
		<article>
		<%= @index.texte9en.bbcode_to_html_with_formatting.html_safe %>
		</article>
		<div class="separator-index"></div>

		<h3>
		<%= @index.texte10en.bbcode_to_html_with_formatting.html_safe %>
		</h3>
		<article>
		<%= @index.texte11en.bbcode_to_html_with_formatting.html_safe %>
		</article>
		<div class="separator-index"></div>

	<% else %>
		<h3>
		<%= @index.texte6.bbcode_to_html_with_formatting.html_safe %>
		</h3>
		<article>
		<%= @index.texte7.bbcode_to_html_with_formatting.html_safe %>
		</article>
		<div class="separator-index"></div>

		<h3>
		<%= @index.texte8.bbcode_to_html_with_formatting.html_safe %>
		</h3>
		<article>
		<%= @index.texte9.bbcode_to_html_with_formatting.html_safe %>
		</article>
		<div class="separator-index"></div>

		<h3>
		<%= @index.texte10.bbcode_to_html_with_formatting.html_safe %>
		</h3>
		<article>
		<%= @index.texte11.bbcode_to_html_with_formatting.html_safe %>
		</article>
		<div class="separator-index"></div>

	<% end %>
	</section>
</div>