<!DOCTYPE html>
<html>
<head>
  <title><%= t('header.name') %></title>
  <meta name="viewport" content="width=device-width" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 	<header>
 		<center>
	    	<div class="title_header">
	    		<span class="name"><%= t('header.name') %></span>
	    		<div class="line"></div>
	    		<span class="sub"><%= t('header.sub') %></span>
	    	</div>
	    	</center>
		<a id="menu_toggle" class="button dark" href="#"><i class="icon-reorder"></i>test</a>
		<nav id="menu_inline">
			<ul class="navigation">
				<li><%= link_to t('navigation.home'), root_path %></li>
				<li class="nav associes"><%= link_to t('navigation.associe'), associe_path %></li>
				<li class="nav competence"><%= link_to t('navigation.special'), specialite_path %></li>
				<li class="nav veille"><%= link_to t('navigation.veille'), veille_path %></li>
				<li class="nav contact"><%= link_to t('navigation.contact'), contact_path %></li>
				<!--<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
					</ul>
				</li> -->
        	</ul>
        </nav>
    </header>
    <%= yield %>
    <footer>
    	<div class="infos_footer">
	    	<div class="phone"></div>
	    	<div class="mail"></div>
	    	<div class="adress"></div>
	    	<div class="follow">
	    	    <span><%= t('footer.follow') %></span>
	    		<!--<div class="facebook"></div>-->
	    		<a href="https://twitter.com/ElHalfiAvocats?lang=en">
	    			<div class="twitter"></div>
	    		</a>
	    		<a href="https://www.linkedin.com/pub/laila-el-halfi/27/7a6/678">
	    			<div class="linkedin"></div>
	    		</a>
	    	</div>
	    </div>
    </footer>

</body>
</html>

