<!DOCTYPE html>
<html>
<head>
  <title>Laila El Halfi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- header admin -->
	<% if params[:controller] == "admin" %>
			<p>
		<% if user_signed_in? %>
		  Bonjour <strong><%= current_user.username %></strong>.
		  <%= link_to 'Editer Associe', user_associe_path, :class => 'navbar-link' %> |
		  <%= link_to 'Editer veille', user_veille_path, :class => 'navbar-link' %> |
		  <%= link_to 'Editer vos pages', user_path, :class => 'navbar-link' %> |
		  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
		  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
		<% else %>
		  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
		<% end %>
		</p>

		<% if notice %>
		  <p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>
	<!-- header visiteurs -->
	<% elsif params[:controller] == "home"%>

<nav class="navbar navbar-default navbar-fixed-top visible-xs-block" role="navigation">
  <div class="container-fluid">

      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
 
		    <li><%= link_to t('acceuil'), root_path, :class => 'navbar-link submenu active' %> </li>
		    <li><%= link_to t('veille'), veille_path, :class => 'navbar-link submenu' %> </li>
		    <li><%= link_to t('special'), specialite_path, :class => 'navbar-link submenu' %> </li>
		    <li><%= link_to t('associe'), associe_path, :class => 'navbar-link submenu' %> </li>
		    <li><%= link_to t('honoraire'), honoraire_path, :class => 'navbar-link submenu' %> </li>
		    <li><%= link_to t('contact'), contact_path, :class => 'navbar-link submenu' %> </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
		<header>
		  	<div>
				<div class="title">Laila El Halfi</div>
				<div class="subtitle">Avocat a la cour</div>
			</div>
		</header>



		
<nav class="navbar navbar-default hidden-xs" role="navigation">
  <div class="container-fluid">

      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
 
		    <li><%= link_to t('acceuil'), root_path, :class => 'navbar-link submenu active' %> </li>
		    <li><%= link_to t('veille'), veille_path, :class => 'navbar-link submenu' %> </li>
		    <li><%= link_to t('special'), specialite_path, :class => 'navbar-link submenu' %> </li>
		    <li><%= link_to t('associe'), associe_path, :class => 'navbar-link submenu' %> </li>
		    <li><%= link_to t('honoraire'), honoraire_path, :class => 'navbar-link submenu' %> </li>
		    <li><%= link_to t('contact'), contact_path, :class => 'navbar-link submenu' %> </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
		
		<div class="separator"></div>

	<% end %>

				<%= yield %>
	</div>

</body>
</html>

